<% content_for :head do %>
  <%= stylesheet_link_tag "redactor" %>
<% end %>

<button id="save"><%= t('posts.new.save') %></button>
<%= form_tag publish_posts_path, id: "publish" do %>
  <%= hidden_field_tag :data, "" %>
  <%= submit_tag t('posts.new.publish')  %>
<% end %>

<div style="width: 700px;">
  <textarea id="redactor-content" name="content" style="height: 700px;"></textarea>
</div>