<% content_for :head do %>
  <%= stylesheet_link_tag "redactor" %>
<% end %>

<%= form_tag boss.publish_admin_posts_path do %>
  <%= hidden_field_tag :data, "" %>
  <%= hidden_field_tag :id, @post.id %>

  <div class="field">
    <%= label_tag "title", t('posts.new.labels.title') %>
    <%= text_field_tag "title", @post.title %>
  </div>

  <div class="field">
    <%= label_tag "category_id", t('posts.new.labels.category') %>
    <%= select_tag "category_id", options_from_collection_for_select(@categories, :id, :name, @post.category_id) %>
  </div>

    <div class="field">
    <%= label_tag "tags", t('posts.new.labels.tags') %>
    <%= text_field_tag "tags", @post.tag_list.join(", ") %>
  </div>

  <button id="save"><%= t('posts.edit.save') %></button>
<% end %>

<div style="width: 700px;">
  <textarea id="redactor-content" class="new" name="content" style="height: 700px;"><%= @post.body %></textarea>
</div>
