<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>

<<<<<<< HEAD
  
=======
  <%#= banner_viewer if params[:controller] == "citygate/home" and params[:action] == "index" %>
>>>>>>> 7dda191b23c43ae4238a9d632f47e10a934fe75b

  <%= yield %>
</body>
</html>
